

  .header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-text-color);
    margin-right: 93px;
    padding-left: auto;}

  .header-logo-design {color: var(--accent-color);}
  
  

  
/* Навигация */  
  .header {
    background-color: var(--white-color);
    border-bottom: #ECECEC solid 1px;
    padding: 24px 0px 25px 0px;}      

  .header-site-nav .link:hover,
  .header-site-nav .link:focus,  
  .futer-item .link:hover,
  .futer-item .link:focus {color: var(--accent-color);}  
 
  .header-site-nav .link {    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    flex-shrink:1;
    transition: color var(--animation-timing);}

    .header-site-nav .list:nth-child(2) {margin: 0px 50px 0px 50px;}
    .header-site-nav .list:nth-child(3) {margin-right: 331px;}
    .header-site-auth .list:nth-child(2) {margin-left: 50px;}
    .header-site-auth .link:nth-last-child(2) {padding-right: 0px;}

  .header-site-nav .link.header-current 
  {color: var(--accent-color);    position: relative;} 

  .header-site-auth .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;    
    text-align: right;}

    .header-site-auth .li 
    {display: block;
    position: absolute; 
    box-sizing: content-box;}
    .header-container {
                      flex-direction: row;
                      display: flex;
                      align-items: center;
                      justify-content: center;}

.header-site-auth.list 
{color: var(--primary-text-color);
  
}                
 .header-container, .content-nav,
 .header-site-nav, .header-site-auth {display: flex;
                                      align-items: center;}
.header-site-auth {justify-content: flex-end;}

.header-icon {fill: currentColor; margin-right: 10px;}

.header-contacts:hover,.header-contacts:focus 
{color: var(--accent-color); transform: scale(1.2);}

.header-contacts {align-items: center;
                  display: flex;
                  color: var(--primary-text-color);
                  text-decoration: none;
                  transition: transform, color var(--animation-timing);}

/*.current {color: #2196f3; position: relative;} */              
.header-current::after
{content:"";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  bottom: 0;}
  
/* Герой */    
.hero 
{background-color: #2f303a;
  padding: 200px 0px 200px 0px;
  text-align: center;}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;}   
.overlay 
   {max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-bacground-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                     rgba(47, 48, 58, 0.4)),
    url(../images/header-overlay-squoosh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;}
  
/* Преимущества */  
    .section-advantage {
      padding-top: 94px;
      padding-bottom: 94px;}

    .section-advantage.list
    {margin-right: 30px;}

    .advantage-title 
    {font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);      
    margin-bottom: 10px;}

    .advantage-site-nav 
    {display: flex;
    flex-wrap: wrap;
    margin-left: -30px;}

    .advantage-site-nav .list 
    {width: calc(100% / 4 - 30px);
    margin-left: 30px;}

    .features-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 120px;
      background: var(--primary-background-color);
      border-radius: 4px;
      margin-bottom: 30px;}
   

/* Чем мы занимаемся */
   .directions-photo {display: block;}
   .section-directions {padding-bottom: 94px;}
   
   .directions-photos 
   {display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: center; }
   .directions-photos .list 
   {margin-left: 30px;
    text-align: center;
    position: relative;}
.box-label {position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height:70px;
    background: rgba(47, 48, 58, 0.8);}

.label-title 
{color: var(--sacondary-white-color);  
  font-weight: bold;
  line-height: 0.87;
  padding-top: 27px;  padding-bottom: 27px;  
  letter-spacing: 0.03em;  
  font-size: 14px; 
  text-transform: uppercase;}

/* Наша команда */

    .our-team .our-team-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);}

    .our-team-employee {margin-bottom: 10px;
                        color: var(--title-text-color);}  

   .our-team .our-team-position {
    font-size: 16px;
    line-height: 1.19;  } 
    .our {padding-top: 30px;
          padding-bottom: 30px;
        background-color: white;}

    .section-our-team {padding-top: 94px;
                       padding-bottom: 94px;
                       background-color: #f5f4fa;}
.master-list {display: flex;
              /*flex-wrap: wrap;*/
              margin-left: -30px;}

.master-list .list {width: calc(100% / 4 - 30px);
                    margin-left: 30px;
                    text-align: center;                    
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                                0px 1px 1px rgba(0, 0, 0, 0.14),
                                0px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 0px 0px 4px 4px;
                    overflow: hidden;}

.masters-social-link 
{width: 44px;
height: 44px;
background-color:var(--sacondary-white-color);
display: flex;
border-radius: 50%;
justify-content: center;
align-items: center;
transition: background-color var(--animation-timing);}     

.masters-social-link:hover, .masters-social-link:focus 
{background-color: var(--accent-color);}
.masters-social-link:hover .masters-social-icon,
.masters-social-link:focus .masters-social-icon 
{fill: var(--sacondary-white-color);}

.masters-social-list 
{display: flex;
justify-content: center;
margin-top: 16px;}

.masters-social-item + .masters-social-item {margin-left: 10px;}
.masters-social-item {list-style-type: none;}
.masters-social-icon {fill: #afb1b8; transition: fill var(--animation-timing);}

/*НАШИ КЛИЕНТЫ*/

.section-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);   
  padding-top: 94px;
  padding-bottom: 94px;}
  .clients-title 
  {margin-bottom:50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);}

.clients-list 
{display: flex;
  flex-wrap: wrap; 
 justify-content: space-between; }

 .client-item + .client-item {margin-left: 30px;}

 .client-item 
 {width: 170px;
  height: 92px;   
  align-items: center;}

 .client-link 
 {display: flex;
  justify-content: center;
  align-items: center;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  transition: border-color var(--animation-timing);}
  
 .client-link:hover , 
 .client-link:focus  {border-color: #2196f3;}
  .client-link:hover .client-icon,
  .client-link:focus .client-icon {fill: #2196f3;}

.client-icon {  
  fill: currentColor; 
  background-position: center; 
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  transition: fill var(--animation-timing);}
      
/* Футер */  
   .footer {background-color: var(--footer-bacground-color);
            padding-top: 60px;
            padding-bottom: 60px;}
            
   .footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
    margin-bottom: 20px;
    display:inline-block;}  

    .footer-logo-design {color: var(--accent-color);}
    
    .footer-contact {font-style: normal;}  
    .futer-item .link {color: var(--sacondary-white-color);}
    .footer-contact .contact-location {color: var(--white-color);}  
    .futer-item .list:not(:first-child){margin-top: 9px;}


    .footer-container {
      display: flex;
      align-items: baseline;}
    
    .footer-center 
    {display: block; margin-left: 70px;}

    .join-title 
    { display: block;
      font-size: inherit;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--sacondary-white-color);
      margin-bottom: 20px; letter-spacing: 0.03em;}

    .footer-social-icons {display: flex;} 
    
    .footer-icons-list {display: flex;}
    
    .footer-icon-link 
     {display: flex; 
      width: 44px; height: 44px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: var(--sacondary-white-color);
      transition: background-color var(--animation-timing);}
    
    .footer-icon-item:not(:last-child) {margin-right: 10px;}
    
    .footer-icon {fill: currentColor;}
    
    .footer-icon-link:hover,
    .footer-icon-link:focus {background-color: var(--accent-color);}

    .futer-item .link {transition: color var(--animation-timing);}
    .footer-right {display: block; margin-left: 93px; }
    .subscription {display: flex; }
    .input-wrap {border-color: #2f303a; color: #2f303a;}
    
/* Кнопки */
    
    /* Портфолио */  
/* Навигация по проектам */  
   

   .list .title-works {
    margin-top: 0px;
    margin-bottom: 4px;     
    font-weight: 700;
    font-size: 18px;
    line-height: 171%;
    letter-spacing: 6%;
    color: var(--title-text-color);}

  .list .kind-works {
    margin-top: 4px;
    margin-bottom: 0px;    
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 160%;
    color: var(--primary-text-color)}

/*НАВИГАЦИЯ ГАЛЕРЕИ*/
    
  .gallery-nav 
  {display: flex;  
  margin-left: -30px;
  justify-content: center;
  margin-bottom: 50px;}
  .gallery-nav .list{text-align: center;}    
  .gallery-nav>li:nth-child(n + 2) {margin-left: 8px;}   
                                       
.card-content {padding: 20px 24px;
               border: 1px solid #eeeeee;}   

 .gallery 
 {padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);}

.gallery-photo {display: block;}
.gallery > .list 
{flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;} 

  .card-link:hover, .card-link:focus 
  {box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),                                       
    1px 4px 6px rgba(0, 0, 0, 0.16);}
.card-link {transition: box-shadow var(--animation-timing);}
.section-projects {
  padding-top: 94px;
  padding-bottom: 94px;}

/*анимация наплыва текста на карточку*/
.list-wrap {position: relative;}
.card-link:hover .gallery-img-text 
{transform: translateY(0);}
.gallery-img-text 
 {position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--sacondary-white-color);  
  font-weight: 400;
  line-height: 1.56;
  padding: 63px 24px;  
  letter-spacing: 0.03em;  
  font-size: 18px;  
  height: 294px;  
  transform: translateY(101%);
 transition: transform var(--animation-timing);}
.gallery-tumb-wrap {position: relative; overflow: hidden;}

/*МОДАЛЬНОЕ ОКНО*/
.backdrop
{position: fixed; top: 0;  left: 0; width: 100vw; height: 100vh;
 background-color: rgba(0, 0, 0, 0.2);
 display: flex; align-items: center; justify-content: center;
 transition: opacity 250ms, visibility 250ms;}
.backdrop.is-hidden .modal {transform: scale(0.1);}
.modal 
 {/*position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);*/
  min-width: 528px; height: 581px;
  background-color: var(--sacondary-white-color);
  border-radius: 4px; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),                                       
              0px 2px 1px rgba(0, 0, 0, 0.2);  
  transition: transform var(--animation-timing); transform: scale(1);
  animation-name: spin; animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  padding: 40px;}
@keyframes spin {0% { transform: rotate(0deg) scale(0.1);}
                 50% { transform: rotate(180deg) scale(0.3);}
                 100% { transform: rotate(360deg) scale(1); }}
.modal-close 
{position: absolute; display: flex; 
 width: 30px; height: 30px;
 border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.1);
 background-color: var(--sacondary-white-color);
 align-items: center; justify-content: center; 
 top: 8px; right: 8px;}
 .modal-close use {fill: #000000;}
 .modal-close:hover use {fill: #2196F3;}

 .is-hidden 
{opacity: 0; pointer-events: none; visibility: hidden;}
/*.modal-close:hover .modal-close-icon {color: #2196f3;}*/
/*.modal-close-icon:hover {color: #2196f3;}*/
.modal.modal-close:hover .modal-close-icon {fill: #2196f3;}
.modal-close-icon {transition: fill var(--animation-timing);}
.modal-title 
{font-size: 20px; font-weight: 700; line-height: 1.15;
 text-align: center; margin-bottom: 12px; color: #212121;}
.form-input 
 {width: 100%; height: 40px; border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; padding-left: 42px; color: #000000;
  outline: none; transition: border-color var(--animation-timing);}
.form-input-email {min-width: 358px; height: 50px; border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); color: rgba(255, 255, 255, 0.6);
  border-radius: 4px; padding-left: 16px; font-weight: 400;
  letter-spacing: 0.03em; line-height: 1.25;
  outline: none; transition: border-color var(--animation-timing);
  margin-right: 12px; font-size: 16px; background-color: #2F303A;}

.form-input::placeholder {color:#2196f3;}
.input-text {font-size: 12px; color: #757575; display: block; margin-bottom: 4px; line-height: 1.15}
.form-field {margin-bottom: 10px;}
.input-wrap {position: relative;}
.input-icon {position: absolute; left: 12px; top: 50%; transform: translateY(-50%);
             transition: fill var(--animation-timing);}
.form-input:focus,.form-text:focus {border-color: var(--accent-color); outline: none;}    
.form-input:focus + .input-icon {fill: var(--accent-color);} 
.form-text {width: 100%; height: 120px; border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px; padding-left: 16px; padding: 12px 16px;
            resize: none;} 
.form-text::placeholder {color: rgba(117, 117, 117, 0.5);}            
.field {border: 1px solid tomato; border-radius: 5px;}
.check-text span {width: 16px; height: 15px; border: 2px solid #212121; border-radius: 2px; 
                  margin-right: 7px; display: flex; align-items: center; justify-content: center; position: relative;}

.policy-icon {fill: transparent;}
.policy-check:checked + .check-text span {border: none; background-color: #2196f3;}
.policy-check:checked + .check-text .policy-icon {fill: #ffffff;}
.checkbox-contract {color: #2196f3; padding-left: 3px; }
.form-field-checkbox {margin-left: 13px; margin: 0px;}
.check-text {display: flex; align-items: center; justify-content: center;}
.check-text .input-icon {left: 3px;}